<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/practice">
            <ion-label>Practice</ion-label>
          </ion-item>
          <ion-item routerDirection="root" routerLink="/history">
            <ion-label>History</ion-label>
          </ion-item>
          <ion-item routerDirection="root" routerLink="/charts">
            <ion-label>Charts</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
